@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-accent: #FF6F00;
  --color-accent-1: #1C2A39;
  --color-accent-2: #4A6FA5;
  --color-pure: #FFFFFF;

  --color-primary-text: #111111;

  --font-base: "Source Sans 3", sans-serif;
  --font-primary: "Oswald", sans-serif;
}


body {
  font-family: var(--font-base);
  color: var(--color-primary-text);
}



.mobile_menu {
  user-select: none;
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms ease, transform 300ms ease;
  transform: translateX(100%);
}

/* Active menu state */
.mobile_menu.open_menu {
  user-select: auto;
  pointer-events: all;
  opacity: 1;
  transform: translateX(0);
}

.mobile_menu .menu {
  transition: transform 500ms ease-in-out;
}
